@font-face {
  font-display: swap;
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/fira-mono-v14-latin-regular.woff2") format("woff2");
}

body {
  background-color: #f3f3e3;
  font-family: "Fira Mono", monospace;
}

a {
  color: #4a5568;
}

a:hover {
  color: #2d3748;
  text-decoration: underline;
}
